.root {
    padding: 2rem;
    display: flex;
    justify-content: center;
    .tree {
        min-height: 100px;
        width: 100%;
        padding: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
    }
}